body {
    background-color: lightblue;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }

.triangle-up {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid rgb(25, 99, 21);
}


.rectangle {
    height: 20px;
    width: 50px;
    background-color: rgb(109, 73, 73);
  }